.container {
    background-color: #808080;
    height: 100vh;
    /*width: 100vh;*/
    display: grid;
    /* 1fr means 1 fractional of entire width*/
    grid-template-columns: repeat(3,1fr);
    /* row-gap:100px;
    column-gap: 100px;
    */
}

.items {
    background-color: lawngreen;
    margin: 10px;
}
.item1{
    grid-row-start:1;
    grid-row-end:3;
}