/* .container1{

    height:250px;
    width:250px;
    border:2px solid black;
    border-radius: 20px;
    position:sticky;
    background-color: blue;
}
.container2{
    height:250px;
    width:250px;
    border:2px solid black;
    border-radius: 20px;
    background-color: purple;
    position:sticky;

} */
 li{
    border: 30px solid pink;
    height: 30px;
    width: 30px;
    float: left ;
 }